# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/target
/mvnw.cmd
/mvnw
/.mvn/
/.idea/
/src/main/resources/local/logback.xml
